.bg-img {
    background-image: url("../img/bg-img.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}
.py-10 {
    padding-top: 8rem;
    padding-bottom: 6rem;
}